<h3>Person</h3>
<div *ngIf="data$ | async as data; else loading">
    <app-box-form [data]="[data]">
        <ng-template [boxFormTemplate]="[data]" let-resource>
            <h5>{{ resource.First_32_name }} {{ resource.Last_32_name }}</h5>
            <div class="formgrid grid">
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">First Name</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.First_32_name"
                            propertyName="First_32_name"
                            label="First Name"
                            isUni
                            isTot
                            crud="cRUd"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Last Name</label>
                    <div class="box-form-value">
                        <app-atomic-bigalphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Last_32_name"
                            propertyName="Last_32_name"
                            label="Last Name"
                            isUni
                            isTot
                            crud="cRUd"
                        ></app-atomic-bigalphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Status</label>
                    <div class="box-form-value">
                        <app-atomic-bigalphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Status"
                            propertyName="Status"
                            label="Status"
                            isUni
                            isTot
                            crud="cRUd"
                        ></app-atomic-bigalphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Email</label>
                    <div class="box-form-value">
                        <app-atomic-bigalphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Email"
                            propertyName="Email"
                            label="Email"
                            isUni
                            isTot
                            crud="cRUd"
                        ></app-atomic-bigalphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Projects</label>
                    <app-box-tab [data]="[resource.Projects]">
                        <ng-template #tabContent let-data="data" let-tabHeader="tabHeader">
                            <app-atomic-object
                                [resource]="data"
                                [interfaceComponent]="this"
                                [property]="data[tabHeader]"
                                propertyName="Name"
                                label="Name"
                                isUni
                                isTot
                                crud="cRud"
                            >
                            </app-atomic-object>
                        </ng-template>
                    </app-box-tab>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Works with</label>
                    <app-atomic-object
                        [resource]="resource"
                        [interfaceComponent]="this"
                        [property]="resource.Works_32_with"
                        propertyName="Works_32_with"
                        label="Name"
                        isUni
                        isTot
                        crud="cRud"
                    >
                    </app-atomic-object>
                </div>
            </div>
        </ng-template>
    </app-box-form>
</div>

<ng-template #loading>
    <app-box-form-loading></app-box-form-loading>
</ng-template>
