<div *ngIf="canRead; else notReadable">
    <div class="p-inputgroup" *ngIf="canUpdate; else notUpdatable">
        <div class="w-full" *ngIf="exprIsUni; else exprIsNotUni">
            <textarea pInputTextarea [(ngModel)]="property" [required]="exprIsTot ? true : false" maxlength="64000"
                class="w-full min-w-10rem"></textarea>
        </div>
    </div>
</div>

<ng-template #exprIsNotUni>
    <div class="text-center w-full">
        <div *ngFor="let row of requireArray(property); index as i">
            <span my-showonhover-box class="glyphicon glyphicon-minus" uib-tooltip="Remove" tooltip-trigger="mouseenter"
                tooltip-placement="left"></span>
            <span class="wordwrap">{{row}}</span>
        </div>
        <div>
            <!-- <textarea ng-model="selected.value" placeholder="Add text" class="form-control input-sm" rows="6" cols="80" my-change-on-blur="addItem(resource, '$name$', selected, patchResource)"$if(exprIsTot)$ ng-required="resource['$name$'].length === 0"$endif$></textarea> -->
        </div>
    </div>
</ng-template>

<ng-template #notUpdatable>
    <div *ngIf="exprIsUni; else exprIsNotUniAndNotUpdatable">
        <div class="wordwrap">{{ property }}</div>
    </div>
</ng-template>

<ng-template #exprIsNotUniAndNotUpdatable>
    <div *ngFor="let row of requireArray(property); index as i" class="wordwrap">{{row}}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Bigalphanumeric is not readable</i></span>
</ng-template>