<div *ngIf="canRead; else notReadable">
    <div class="p-inputgroup" *ngIf="canUpdate; else notUpdatable">
        <div class="w-full" *ngIf="isUni; else isNotUni">
            <textarea
                pInputTextarea
                [(ngModel)]="property"
                [required]="isTot"
                maxlength="64000"
                class="w-full min-w-10rem"
            ></textarea>
        </div>
    </div>
</div>

<ng-template #isNotUni>
    <div class="text-center w-full">
        <div *ngFor="let row of data" class="flex align-items-center my-1">
            <i class="pi pi-minus-circle mr-1 cursor-pointer"></i>
            <span class="wordwrap">{{ row }}</span>
        </div>
        <div>
            <div class="p-inputgroup">
                <textarea
                    pInputTextarea
                    [(ngModel)]="newItem"
                    [required]="isNewItemInputRequired()"
                    maxlength="64000"
                    placeholder="Add text"
                    class="w-full min-w-10rem"
                ></textarea>
                <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-success"></button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #notUpdatable>
    <div *ngIf="isUni; else isNotUniAndNotUpdatable">
        <div class="wordwrap">{{ property }}</div>
    </div>
</ng-template>

<ng-template #isNotUniAndNotUpdatable>
    <div *ngFor="let row of data" class="wordwrap">{{ row }}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Bigalphanumeric is not readable</i></span>
</ng-template>
