<div *ngIf="canRead(); else notReadable">
    <div *ngIf="canUpdate(); else notUpdatable">
        <div class="w-full" *ngIf="isUni; else isNotUni">
            <textarea
                pInputTextarea
                [formControl]="formControl"
                [required]="isTot"
                maxlength="64000"
                class="w-full min-w-10rem"
            ></textarea>
        </div>
    </div>
</div>

<ng-template #isNotUni>
    <div *ngFor="let name of data; let i = index">
        <div
            *ngIf="canUpdate() && !isUni"
            class="pi pi-fw pi-minus"
            (click)="removeItem(i)"
            pTooltip="Remove"
            tooltipPosition="left"
            style="color: red; padding-bottom: 9px; cursor: pointer"
        ></div>

        <!-- TODO: add the delete method -->
        <!-- <div
            *ngIf="canDelete() && !isUni"
            class="pi pi-fw pi-trash"
            pTooltip="Delete"
            tooltipPosition="left"
            style="color: red; cursor: pointer"
        ></div> -->

        <span style="padding-left: 9px">
            {{ name }}
        </span>
    </div>
    <div class="p-inputgroup">
        <textarea
            type="text"
            class="min-w-10rem w-full"
            pInputText
            [formControl]="newItemControl"
            [placeholder]="'Add value'"
            [required]="isNewItemInputRequired()"
            (keyup.enter)="addItem()"
        ></textarea>
        <button
            type="button"
            pButton
            pRipple
            icon="pi pi-plus"
            styleClass="p-button-success"
            (click)="addItem()"
        ></button>
    </div>
</ng-template>

<ng-template #notUpdatable>
    <div *ngFor="let row of data" class="wordwrap">{{ row }}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Bigalphanumeric is not readable</i></span>
</ng-template>
