<div *ngIf="canRead(); else notReadable">
    <p-calendar
        *ngIf="canUpdate(); else notUpdatable"
        [(ngModel)]="property"
        [showIcon]="true"
        [showClear]="true"
        [dateFormat]="format"
        [readonlyInput]="true"
        [showTime]="true"
        (ngModelChange)="onDateChange($event)"
    ></p-calendar>
</div>

<ng-template #notUpdatable>
    <div class="wordwrap">{{ property }}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>DateTime is not readable</i></span>
</ng-template>
