<h3>List all interfaces</h3>
<div *ngIf="data$ | async as data; else loading">
    <app-box-table [data]="data" sortable sortBy="Name" order="desc">
        <ng-template boxTableHeader>
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </ng-template>
        <ng-template [boxTableRow]="data" let-row
            ><td>
                <app-atomic-object
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Interface"
                    propertyName="Interface"
                    label="Interface"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-alphanumeric
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Label"
                    propertyName="Label"
                    label="Label"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-alphanumeric>
            </td>
            <td>
                <app-atomic-boolean
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Is_32_public"
                    propertyName="Is_32_public"
                    label="Is public"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-boolean>
            </td>
            <td>
                <app-atomic-boolean
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Is_32_API"
                    propertyName="Is_32_API"
                    label="Is API"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-boolean>
            </td>
            <td>
                <app-atomic-object
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Nav_32_items"
                    propertyName="Nav_32_items"
                    label="Nav items"
                    isTot
                    crud="cRud"
                >
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-object
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.For_32_roles"
                    propertyName="For_32_roles"
                    label="For roles"
                    isTot
                    crud="cRud"
                >
                </app-atomic-object>
            </td>
        </ng-template>
    </app-box-table>
</div>

<ng-template #header>
    <th>Interface</th>
    <th>Label</th>
    <th>Is public</th>
    <th>Is API</th>
    <th>Nav items</th>
    <th>For roles</th>
</ng-template>

<ng-template #loading>
    <app-box-table-loading [nrOfRows]="10"> </app-box-table-loading>
</ng-template>
