<h3>Project</h3>
<div *ngIf="data$ | async as data; else loading">
    <app-box-form>
        <ng-template boxFormTemplate>
            <h5>{{ data.Name }}</h5>
            <div class="formgrid grid">
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Name</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="this"
                            propertyName="Name"
                            [property]="data.Name"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Description</label>
                    <div class="box-form-value">
                        <app-atomic-bigalphanumeric
                            [resource]="this"
                            propertyName="Description"
                            [property]="data.Description"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-bigalphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">(Planned) start date</label>
                    <div class="box-form-value">
                        <app-atomic-date
                            [resource]="this"
                            propertyName="Start_32_date"
                            [property]="data._40_Planned_41__32_start_32_date"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-date>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Status</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="this"
                            propertyName="Status"
                            [property]="data.Status"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Active</label>
                    <div class="box-form-value">
                        <app-atomic-boolean
                            [resource]="this"
                            propertyName="Active"
                            [property]="data.Active"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-boolean>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Keywords</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="this"
                            propertyName="Keywords"
                            [property]="data.Keywords"
                            isTot
                            crud="CRUD"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Current PL</label>
                    <div class="box-form-value">
                        <app-atomic-object [property]="data.Current_32_PL" isUni isTot crud="CRUD"></app-atomic-object>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Project members</label>
                    <div class="box-form-value">
                        <app-atomic-object
                            [property]="data.Project_32_members"
                            isUni
                            isTot
                            crud="CRUD"
                        ></app-atomic-object>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-box-form>
</div>

<ng-template #loading>
    <app-box-form-loading></app-box-form-loading>
</ng-template>
