<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <p-inputNumber
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="20"
        type="number"
        [formControl]="formControl"
        [required]="isTot"
        (keyup.enter)="addItem()"
    ></p-inputNumber>
</ng-template>

<ng-template #cRUd>
    <div *ngFor="let name of data; let i = index">
        <div
            class="pi pi-fw pi-minus"
            (click)="removeItem(i)"
            pTooltip="Remove"
            tooltipPosition="left"
            style="color: red; padding-bottom: 9px; cursor: pointer"
        ></div>

        <span style="padding-left: 9px">
            {{ name }}
        </span>
    </div>
    <div class="p-inputgroup">
        <p-inputNumber
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="20"
            type="number"
            [formControl]="newItemControl"
            [placeholder]="'Add value'"
            [required]="isNewItemInputRequired()"
            (keyup.enter)="addItem()"
        ></p-inputNumber>
        <button
            type="button"
            pButton
            pRipple
            icon="pi pi-plus"
            styleClass="p-button-success"
            (click)="addItem()"
        ></button>
    </div>
</ng-template>

<ng-template #cRud>
    <div *ngFor="let row of data" class="wordwrap">{{ row }}</div>
</ng-template>

<ng-template #crud>
    <span><i>Float is not readable</i></span>
</ng-template>
