<div class="flex flex-wrap">
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card
            header="Hello, world!"
            subheader="You've successfully deployed your prototype"
            styleClass="p-card-shadow"
        >
            <p>This prototype application is created using Ampersand technology.</p>
            <p>Learn more about Ampersand?</p>
            <ng-template pTemplate="footer">
                <a
                    pButton
                    type="button"
                    label="Documentation"
                    href="https://ampersandtarski.gitbook.io"
                    target="_blank"
                ></a>
                <a pButton label="Github" href="https://github.com/AmpersandTarski" target="_blank"></a>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card
            header="Install your application"
            subheader="Run the application installer to get started"
            styleClass="p-card-shadow"
        >
            <p>To get started with this prototype application you first need to install the application.</p>
            <p>Part of the installation is creating the database and loading initial population.</p>
            <ng-template pTemplate="footer">
                <a pButton label="Installer" routerLink="admin/installer"></a>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card header="Take a tour" subheader="Let's explore the prototype application" styleClass="p-card-shadow">
            <p>An Ampersand prototype application comes with a lot of built-in functionality.</p>
            <p>Are you new to working with Ampersand? Take a tour!</p>
            <ng-template pTemplate="footer">
                <p-button label="Take a tour" routerLink="" [disabled]="true"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
