<h3>Active Projects</h3>
<div *ngIf="data$ | async as data; else loading">
    <app-box-table [data]="data" sortable sortBy="Name" order="desc" crud="CRUD" [interfaceComponent]="this">
        <ng-template boxTableHeader>
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </ng-template>
        <ng-template [boxTableRow]="data" let-row>
            <td>
                <app-atomic-object
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Projects"
                    propertyName="Projects"
                    label="Projects"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-alphanumeric
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Name"
                    propertyName="Name"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-alphanumeric>
            </td>
            <td>
                <app-atomic-bigalphanumeric
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Description"
                    propertyName="Description"
                    label="Description"
                    isUni
                    crud="cRud"
                >
                </app-atomic-bigalphanumeric>
            </td>
            <td>
                <app-atomic-object
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Projectleider"
                    propertyName="Projectleider"
                    label="Projectleider"
                    isUni
                    crud="cRud"
                >
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-date
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Start"
                    propertyName="Start"
                    crud="cRud"
                ></app-atomic-date>
            </td>
            <td>
                <app-atomic-alphanumeric
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Status"
                    propertyName="Status"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                >
                </app-atomic-alphanumeric>
            </td>
            <td>
                <app-atomic-boolean
                    [resource]="row"
                    [interfaceComponent]="this"
                    [property]="row.Active"
                    propertyName="Active"
                    isUni
                    crud="cRud"
                ></app-atomic-boolean>
            </td>
        </ng-template>
    </app-box-table>
</div>

<ng-template #header>
    <th>Projects</th>
    <th>Name</th>
    <th>Description</th>
    <th>Projectleider</th>
    <th>Start</th>
    <th>Status</th>
    <th>Active</th>
</ng-template>

<ng-template #loading>
    <app-box-table-loading [nrOfRows]="10">
        <!-- <ng-template boxTableHeader>
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </ng-template> -->
    </app-box-table-loading>
</ng-template>

<!--
INTERFACE "Active projects" : V[SESSION*Project];projectActive BOX <TABLE sortable sortBy="Name" order="desc">
    [ "Projects"      : I[Project]
    , "Name"          : projectName
    , "Description"   : projectDescription
    , "Projectleider" : pl
    , "@"             : pl[Project*Person]
    , "Start"         : projectStartDate
    , "Status"        : projectStatus
    , "Active"        : projectActive
    ]
-->
