<div *ngIf="data$ | async as data">
    <div>
        <h2>Active Projects</h2>
    </div>
    <app-box-table [data]="data" sortable sortBy="Name" order="desc">
        <ng-template boxTableHeader>
            <th>Projects</th>
            <th>Name</th>
            <th>Description</th>
            <th>Projectleider</th>
            <th>@</th>
            <th>Start</th>
            <th>Status</th>
            <th>Active</th>
        </ng-template>
        <ng-template [boxTableRow]="data" let-row>
            <td>
                <app-atomic-object [property]="row.Projects" label="Projects" [isUni]="true" [isTot]="true" crud="cRUd">
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-alphanumeric [property]="row.Name" label="Name" [isUni]="true" [isTot]="true" crud="CRUD">
                </app-atomic-alphanumeric>
            </td>
            <td>
                <app-atomic-bigalphanumeric [property]="row.Description" label="Description" [isUni]="true" crud="CRUD">
                </app-atomic-bigalphanumeric>
            </td>
            <td>
                <app-atomic-object [property]="row.Projectleider" label="Projectleider" [isUni]="true" crud="CRUD">
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-object [property]="row.Projectleider" label="Projectleider" [isUni]="true" crud="CRUD">
                </app-atomic-object>
            </td>
            <td>
                <app-atomic-date [property]="row.Start" crud="cRUd"></app-atomic-date>
            </td>
            <td>
                <app-atomic-alphanumeric [property]="row.Status" label="Name" [isUni]="true" [isTot]="true" crud="CRUD">
                </app-atomic-alphanumeric>
            </td>
            <td>
                <app-atomic-boolean [property]="row.Active" [isUni]="true" crud="CRuD"></app-atomic-boolean>
            </td>
        </ng-template>
    </app-box-table>
</div>

<!--
INTERFACE "Active projects" : V[SESSION*Project];projectActive BOX <TABLE sortable sortBy="Name" order="desc">
    [ "Projects"      : I[Project]
    , "Name"          : projectName
    , "Description"   : projectDescription
    , "Projectleider" : pl
    , "@"             : pl[Project*Person]
    , "Start"         : projectStartDate
    , "Status"        : projectStatus
    , "Active"        : projectActive
    ]
-->
