<div *ngFor="let object of toArray(property)">
    <p-splitButton
        *ngIf="object._ifcs_.length > 1"
        label="{{ object._label_ }}"
        (onClick)="navigateToEntity(object._ifcs_[0].id, object._id_)"
        [model]="toPrimeNgMenuModel(object._ifcs_, object._id_)"
        styleClass="p-button-text mr-2 mb-2 flex"
    ></p-splitButton>

    <button
        pButton
        *ngIf="object._ifcs_.length == 1"
        (click)="navigateToEntity(object._ifcs_[0].id, object._id_)"
        label="{{ object._label_ }}"
        type="button"
        class="p-button-text"
    ></button>

    <span *ngIf="object._ifcs_.length == 0 || object._ifcs_ == undefined">{{ object._label_ }}</span>
</div>
