<div *ngFor="let object of data">
    <div
        *ngIf="canUpdate()"
        class="pi pi-fw pi-minus"
        (click)="remove('template', object, object._path_)"
        pTooltip="Remove"
        tooltipPosition="left"
        style="color: red; position: relative; display: inline-block; bottom: 9px; cursor: pointer"
    ></div>

    <div
        *ngIf="canDelete()"
        class="pi pi-fw pi-trash"
        (click)="destroy('template', object)"
        pTooltip="Destroy"
        tooltipPosition="left"
        style="color: red; position: relative; display: inline-block; bottom: 9px; cursor: pointer"
    ></div>

    <p-splitButton
        *ngIf="object._ifcs_.length > 1"
        label="{{ object._label_ }}"
        (onClick)="navigateToEntity(object._ifcs_[0].id, object._id_)"
        [model]="menuItems[object._id_]"
        styleClass="p-button-text mr-2 mb-2 flex"
    ></p-splitButton>

    <button
        pButton
        *ngIf="object._ifcs_.length == 1"
        (click)="navigateToEntity(object._ifcs_[0].id, object._id_)"
        label="{{ object._label_ }}"
        type="button"
        class="p-button-text"
    ></button>

    <span *ngIf="object._ifcs_.length == 0 || object._ifcs_ == undefined">{{ object._label_ }}</span>
</div>

<p-dropdown
    *ngIf="alternativeObjects$ | async as alternativeObjects"
    [options]="alternativeObjects"
    [formControl]="newItemControl"
    optionLabel="_label_"
    [filter]="true"
    filterBy="_label_"
    [showClear]="true"
    placeholder="Select an object"
>
    <!-- <p-dropdown *ngIf="canUpdate" [(ngModel)]="data" optionLabel="name"></p-dropdown>

<div ng-controller="AtomicTypeAheadController">
    <input
        ng-model="selected.value"
        type="text"
        class="input-sm"
        placeholder="Add $target$"
        uib-typeahead="item._label_ for item in typeahead['$target$'] | filter:\$viewValue | limitTo:15"
        typeahead-editable="true"
        typeahead-on-select="typeaheadOnSelect(\$item, \$model, \$label, resource, '$name$', patchResource)"
        typeahead-no-results="hasNoResults"
        $if(exprIsTot)$
        ng-required="$if(exprIsUni)$true$else$resource['$name$'].length === 0$endif$"
        $endif$
        ng-init="getTypeahead('$target$')"
    />
</div>
<div *ngIf="canCreate">
    <span
        ng-show="selected.value"
        class="glyphicon glyphicon-plus"
        ng-click="typeAheadCreate(resource, '$name$', selected, patchResource, '$target$')"
        uib-tooltip="Create new"
        tooltip-trigger="mouseenter"
        tooltip-placement="right"
    ></span
    >$endif$
    <div ng-show="hasNoResults && selected.value" style="color: orangered; font-size: 12px">$target$ not found!</div>
</div> -->
</p-dropdown>
