<div *ngIf="canRead; else notReadable">
    <div class="p-inputgroup" *ngIf="canUpdate; else notUpdatable">
        <div class="w-full" *ngIf="exprIsUni; else exprIsNotUni">
            <input
                type="text"
                class="min-w-10rem w-full"
                pInputText
                (blur)="changeProperty()"
                [(ngModel)]="property"
                [required]="exprIsTot"
            />
        </div>
    </div>
</div>

<ng-template #exprIsNotUni>
    <div class="text-center w-full">
        <div *ngFor="let row of requireArray(property); index as i" class="flex align-items-center my-1">
            <i class="pi pi-minus-circle mr-1 cursor-pointer"></i>
            <span class="wordwrap">{{ row }}</span>
        </div>
        <div>
            <div class="p-inputgroup">
                <input
                    type="text"
                    class="min-w-10rem w-full"
                    pInputText
                    [(ngModel)]="newItem"
                    placeholder="Add text"
                    [required]="isNewItemInputRequired()"
                />
                <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-success"></button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #notUpdatable>
    <div *ngIf="exprIsUni; else exprIsNotUniAndNotUpdatable">
        <div class="wordwrap">{{ property }}</div>
    </div>
</ng-template>

<ng-template #exprIsNotUniAndNotUpdatable>
    <div *ngFor="let row of requireArray(property); index as i" class="wordwrap">{{ row }}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Alphanumeric is not readable</i></span>
</ng-template>
