<div *ngIf="canRead; else notReadable">
    <div class="p-inputgroup" *ngIf="canUpdate; else notUpdatable">
        <div class="w-full" *ngIf="exprIsUni; else exprIsNotUni">
            <input type="text" class="min-w-10rem w-full" pInputText [(ngModel)]="property"
                [required]="exprIsTot ? true : false" />
        </div>
    </div>
</div>

<ng-template #exprIsNotUni>
    <div class="text-center w-full">
        <div *ngFor="let row of requireArray(property); index as i">
            <span my-showonhover-box class="glyphicon glyphicon-minus" uib-tooltip="Remove" tooltip-trigger="mouseenter"
                tooltip-placement="left"></span>
            <span class="wordwrap">{{row}}</span>
        </div>
        <div>
            <!-- <input ng-model="selected.value" my-bluronenter type="text" placeholder="Add value" class="form-control input-sm" my-change-on-blur="addItem(resource, '$name$', selected, patchResource)"$if(exprIsTot)$ ng-required="resource['$name$'].length === 0"$endif$> -->
        </div>
    </div>
</ng-template>

<ng-template #notUpdatable>
    <div *ngIf="exprIsUni; else exprIsNotUniAndNotUpdatable">
        <div class="wordwrap">{{ property }}</div>
    </div>
</ng-template>

<ng-template #exprIsNotUniAndNotUpdatable>
    <div *ngFor="let row of requireArray(property); index as i" class="wordwrap">{{row}}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Alphanumeric is not readable</i></span>
</ng-template>
