<div class="flex flex-wrap">
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card header="With default population" subheader="Application (re)install" styleClass="p-card-shadow">
            <p>This action will reinstall the application and database and delete all content.</p>
            <p>If provided, the initial population will be installed.</p>
            <ng-template pTemplate="footer">
                <p-button
                    label="Reinstall"
                    icon="pi pi-check"
                    (onClick)="reinstall(true, false, buttonState1)"
                    [loading]="buttonState1.isLoading()"
                    [disabled]="isLoading()"
                    [styleClass]="buttonState1.getStyleClass()"
                ></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card header="Without default population" subheader="Application (re)install" styleClass="p-card-shadow">
            <p>This action will reinstall the application and database and delete all content.</p>
            <p><strong>No initial population</strong> will be installed.</p>
            <ng-template pTemplate="footer">
                <p-button
                    label="Reinstall"
                    icon="pi pi-check"
                    (onClick)="reinstall(false, false, buttonState2)"
                    [loading]="buttonState2.isLoading()"
                    [disabled]="isLoading()"
                    [styleClass]="buttonState2.getStyleClass()"
                ></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card header="Ignore invariant violations" subheader="Application (re)install" styleClass="p-card-shadow">
            <p>This action will reinstall the application and database and delete all content.</p>
            <p>
                If provided, the initial population will be installed. Any invariant violations will be ignored and the
                database transaction will be committed anyway.
            </p>
            <ng-template pTemplate="footer">
                <p-button
                    label="Reinstall"
                    icon="pi pi-check"
                    (onClick)="reinstall(true, true, buttonState3)"
                    [loading]="buttonState3.isLoading()"
                    [disabled]="isLoading()"
                    [styleClass]="buttonState3.getStyleClass()"
                ></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 mb-3 mr-3 min-h-full">
        <p-card header="Update checksum" subheader="" styleClass="p-card-shadow">
            <p>This action will update the checksum.</p>
            <ng-template pTemplate="footer">
                <p-button
                    label="Update"
                    icon="pi pi-refresh"
                    (onClick)="updateChecksum(buttonState4)"
                    [loading]="buttonState4.isLoading()"
                    [disabled]="isLoading()"
                    [styleClass]="buttonState4.getStyleClass()"
                ></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
