<h3>Project</h3>
<div *ngIf="data$ | async as data; else loading">
    <app-box-form [data]="[data]">
        <ng-template [boxFormTemplate]="[data]" let-resource>
            <h5>{{ resource.Name }}</h5>
            <div class="formgrid grid">
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Name</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Name"
                            propertyName="Name"
                            label="Name"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Description</label>
                    <div class="box-form-value">
                        <app-atomic-bigalphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Description"
                            propertyName="Description"
                            label="Description"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-bigalphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">(Planned) start date</label>
                    <div class="box-form-value">
                        <app-atomic-date
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource._40_Planned_41__32_start_32_date"
                            propertyName="_40_Planned_41__32_start_32_date"
                            label="(Planned) start date"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-date>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Status</label>
                    <div class="box-form-value">
                        <app-atomic-alphanumeric
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Status"
                            propertyName="Status"
                            label="Status"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-alphanumeric>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Active</label>
                    <div class="box-form-value">
                        <app-atomic-boolean
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Active"
                            propertyName="Active"
                            label="Active"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-boolean>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Current PL</label>
                    <div class="box-form-value">
                        <app-atomic-object
                            [resource]="resource"
                            [interfaceComponent]="this"
                            [property]="resource.Current_32_PL"
                            propertyName="Current_32_PL"
                            label="Current PL"
                            isUni
                            isTot
                            crud="cRud"
                        ></app-atomic-object>
                    </div>
                </div>
                <div class="field col-12 box-form-field">
                    <label class="box-form-label">Project members</label>
                    <div class="box-form-value">
                        <app-box-table [data]="resource.Project_32_members" sortable>
                            <ng-template boxTableHeader>
                                <th>Name</th>
                                <th>Email</th>
                            </ng-template>
                            <ng-template [boxTableRow]="resource.Project_32_members" let-row>
                                <td>
                                    <app-atomic-alphanumeric
                                        [resource]="row"
                                        [interfaceComponent]="this"
                                        [property]="row.Name"
                                        propertyName="Name"
                                        label="Name"
                                        isUni
                                        isTot
                                        crud="cRud"
                                    ></app-atomic-alphanumeric>
                                </td>
                                <td>
                                    <app-atomic-alphanumeric
                                        [resource]="row"
                                        [interfaceComponent]="this"
                                        [property]="row.Email"
                                        propertyName="Email"
                                        label="Email"
                                        isUni
                                        isTot
                                        crud="cRud"
                                    ></app-atomic-alphanumeric>
                                </td>
                            </ng-template>
                        </app-box-table>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-box-form>
</div>

<ng-template #loading>
    <app-box-form-loading></app-box-form-loading>
</ng-template>
