<div *ngIf="data$ | async as data">
    <div>
        <h2>{{ projectId }}</h2>
    </div>
    <app-box-form>
        <ng-template #components>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Name</strong></label>
                <app-atomic-alphanumeric
                    [property]="data.Name"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                ></app-atomic-alphanumeric>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Description</strong></label>
                <app-atomic-bigalphanumeric
                    [property]="data.Description"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                ></app-atomic-bigalphanumeric>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>(Planned) start date</strong></label>
                <app-atomic-date
                    [property]="data._40_Planned_41__32_start_32_date"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                ></app-atomic-date>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Status</strong></label>
                <app-atomic-alphanumeric
                    [property]="data.Status"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                ></app-atomic-alphanumeric>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Active</strong></label>
                <app-atomic-boolean [property]="data.Active" label="Name" isUni isTot crud="cRud"></app-atomic-boolean>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Current PL</strong></label>
                <app-atomic-object
                    [property]="data.Current_32_PL"
                    label="Name"
                    isUni
                    isTot
                    crud="cRud"
                ></app-atomic-object>
            </div>
            <div class="field grid">
                <label class="col-fixed" style="width: 100px"><strong>Project members</strong></label>
                <app-box-table [data]="data.Project_32_members" sortable>
                    <ng-template boxTableHeader>
                        <th>Name</th>
                        <th>Email</th>
                    </ng-template>
                    <ng-template [boxTableRow]="data.Project_32_members" let-row>
                        <td>
                            <app-atomic-alphanumeric
                                [property]="row.Name"
                                label="Name"
                                isUni
                                isTot
                                crud="cRud"
                            ></app-atomic-alphanumeric>
                        </td>
                        <td>
                            <app-atomic-alphanumeric
                                [property]="row.Email"
                                label="Name"
                                isUni
                                isTot
                                crud="cRud"
                            ></app-atomic-alphanumeric>
                        </td>
                    </ng-template>
                </app-box-table>
            </div>
        </ng-template>
    </app-box-form>
</div>
