<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <ng-container
                *ngTemplateOutlet="headers || defaultHeaderTemplate; context: { $implicit: data }"
            ></ng-container>
            <th *ngIf="canCreate()">
                <span
                    class="pi pi-fw pi-plus"
                    pTooltip="Add"
                    tooltipPosition="left"
                    style="color: green; cursor: pointer"
                    (click)="createItem()"
                ></span>
            </th>
            <th *ngIf="canDelete() && !canCreate()"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr style="vertical-align: top">
            <ng-container *ngTemplateOutlet="rows || defaultRowTemplate; context: { $implicit: data }"></ng-container>
            <td>
                <span
                    *ngIf="canUpdate()"
                    class="pi pi-fw pi-minus"
                    (click)="removeItem(i)"
                    pTooltip="Remove"
                    tooltipPosition="left"
                    style="color: red; padding-bottom: 9px; cursor: pointer"
                ></span>
                <span
                    *ngIf="canDelete()"
                    class="pi pi-fw pi-trash"
                    pTooltip="Delete"
                    tooltipPosition="left"
                    style="color: red; cursor: pointer"
                    (click)="deleteItem(i)"
                ></span>
            </td>
            <td *ngIf="canCreate() && !canDelete()"></td>
        </tr>
    </ng-template>
</p-table>

<p-dropdown
    *ngIf="canUpdate() && (dropdownMenuObjects$ | async) as dropdownMenuObjects; else defaultDropdownMenu"
    [options]="dropdownMenuObjects"
    [formControl]="newItemControl"
    optionLabel="_label_"
    [filter]="true"
    filterBy="_label_"
    [showClear]="false"
    [placeholder]="placeholder"
    (onChange)="addItem()"
>
</p-dropdown>

<ng-template #defaultDropdownMenu>
    <p-dropdown *ngIf="canUpdate()" [options]="[]" [showClear]="false" [placeholder]="placeholder"> </p-dropdown>
</ng-template>

<ng-template #defaultHeaderTemplate let-data>
    <th *ngFor="let header of data[0] | keyvalue">{{ header.key }}</th>
</ng-template>

<ng-template #defaultRowTemplate let-row>
    <td *ngFor="let row of row | keyvalue">{{ row.value }}</td>
</ng-template>
