<div *ngIf="canRead(); else notReadable">
  
        <p-calendar
            *ngIf="canUpdate(); else notUpdatable"
            [showClear]="(canDelete())"
            [readonlyInput]="true"
            [dateFormat]="format"
            [formControl]="formControl"      
        ></p-calendar>

</div>


<ng-template #notUpdatable>
    <div class="wordwrap">{{ property }}</div>
</ng-template>

<ng-template #notReadable>
    <span><i>Date is not readable</i></span>
</ng-template>
