<div class="flex flex-column gap-3">
    <div class="flex">
        <p-skeleton width="10rem" height="4rem" styleClass="mr-2"></p-skeleton>
        <div>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem"></p-skeleton>
        </div>
    </div>
    <p-skeleton width="50%" height="2rem"></p-skeleton>
    <p-skeleton width="50%" height="2rem"></p-skeleton>
    <p-skeleton width="50%" height="10rem"></p-skeleton>
</div>
