<div *ngIf="canRead() && !canUpdate()">
    <ng-container *ngTemplateOutlet="cRud"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && isUni">
    <ng-container *ngTemplateOutlet="cRUdUni"> </ng-container>
</div>

<div *ngIf="canRead() && canUpdate() && !isUni">
    <ng-container *ngTemplateOutlet="cRUd"> </ng-container>
</div>

<div *ngIf="!canRead()">
    <ng-container *ngTemplateOutlet="crud"> </ng-container>
</div>

<ng-template #cRUdUni>
    <span>
        <p-password
            [feedback]="false"
            [formControl]="formControl"
            [required]="isTot"
            [toggleMask]="true"
            pTooltip="Passwords are not stored securely"
        ></p-password>
        <span style="padding-left: 6px">
            <div
                class="pi pi-fw pi-save"
                (click)="patchPassword()"
                pTooltip="Save"
                tooltipPosition="right"
                style="color: rgb(33, 236, 94); padding-bottom: 9px; cursor: pointer"
            ></div>
        </span>
    </span>
</ng-template>

<ng-template #cRUd>
    <i>For this template, the password expression must be univalent</i>
</ng-template>

<ng-template #cRud>
    <i>For this template, the password expression must have update rights </i>
</ng-template>

<ng-template #crud>
    <span><i>Password is not readable</i></span>
</ng-template>
